<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<!-- we defined [recipe] in RecipeItemComponent -->
<!-- this [recipe] refers to the recipe input which is created in the app recipe item component
Sender=> from here 
Reciver => in the app-recipe-item ts -->
<div class="row mt-4">
    <div class="col-xs-12">
        <app-recipe-item *ngFor="let recipeEl of recipes" 
        [recipe]="recipeEl"
        ></app-recipe-item>
    </div>
</div>