<div class="row">
    <div class="col-sm-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h4>Recipe Name</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        Desciption
    </div>
</div>

<div class="row mt-2">
    <div class="col-sm-12">
        Ingredients
    </div>
    <button class="mt-2 btn btn-warning" style="border-radius: 30px;">Add To Shopping List</button>
</div>

<hr>
<div class="row">
    <div class="col-sm-12 btn-group" id="btn-group">
        <button class="btn btn-primary">Edit Recipe</button>
        <button class="btn btn-danger">Delete Recipe</button>
    </div>
</div>